@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital@1&family=Great+Vibes&family=Montserrat&display=swap');
body {
    margin: 0;
}

html {
    height: 100%;
}

.cormorant {
    font-family: 'Cormorant', 'serif';
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.cursive {
    font-family: 'Great Vibes', cursive;
}

.cover {
    background-image: url("images/cover3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 700px;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 100px;
}

.container h1 {
    font-size: 6em;
    margin: 2px;
    text-align: center;
    margin-right: 700px;
    color: rgb(34, 33, 33);
    text-transform: uppercase;
    letter-spacing: .19em;
}

.container span {
    text-align: center;
    margin-right: 700px;
    font-size: 50px;
    color: rgb(190, 64, 85);
}

.container p {
    width: 600px;
    text-align: center;
    margin-left: 50px;
    font-size: 30px;
}

.container a {
    width: 150px;
    margin-left: 280px;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    border: 3px solid rgb(190, 64, 85);
    text-align: center;
    text-decoration: none;
    color: rgb(34, 33, 33);
}

nav {
    display: flex;
    justify-content: space-between;
}

nav .brand {
    width: 20%;
}

nav a {
    font-size: 15px;
    letter-spacing: .19em;
    font-weight: 500;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(190, 64, 85);
    transition: color .2s;
    font-weight: bolder;
}

.brand a {
    text-transform: none;
    font-size: 25px;
    color: rgb(190, 64, 85);
}

nav span {
    margin: 50px;
}

nav .navbar {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

nav .icon {
    color: rgb(190, 64, 85);
    font-size: 20px;
}